In [9]:
#float--> int
a = 90.4
b = int(a)
print(a,b)
print(type(a))
print(type(b))

90.4 90
<class 'float'>
<class 'int'>

In [10]:
#string --> int
a = '90'
n= int(a)
print(n)
print(type(a))
print(type(n))

90
<class 'str'>
<class 'int'>

In [11]:
#int --> float
a = 90
m = float(a)
print(m)
print(type(a))
print(type(m))

90.0
<class 'int'>
<class 'float'>

In [12]:
#string --> float
a = "65"
j = float(a)
print(j)
print(type(a))
print(type(j))

65.0
<class 'str'>
<class 'float'>

In [16]:
#int,float-->string
a = 97
c= 98.5
k = str(a)
l = str(c)
print(k,l)
print(type(a))
print(type(c))
print(type(k))
print(type(l))
print(round(c))

97 98.5
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
98

In [43]:
#ATM
amount = int(input("Enter your amount: "))
five = 0
two = 0
one = 0
if amount%100==0:
    if amount>=500:
        five = amount//500
        print("500 rupees notes: ",five)
        amount = amount-(five*500)
    if amount>=200:
        two = amount//200
        print("200 rupees notes: ",two)
        amount = amount-(two*200)
    if amount>=100:
        one = amount//100
        print("100 rupees notes: ",one)
        amount = amount-(one*100)
print("Thank you")

Enter your amount:  100

100 rupees notes:  1
Thank you

In [21]:
#Task 1
basic_salary = float(input("Enter your salary: "))
if basic_salary < 20000:
    hra = 0.76 * basic_salary
    da = 0.78* basic_salary
elif 20000 <= basic_salary <= 30000:
    hra = 0.79* basic_salary
    da = 0.82* basic_salary
else:
    hra = 0.85* basic_salary
    da = 0.89* basic_salary
gross_salary = basic_salary + hra + da
print("Gross_salary: ",gross_salary)

Enter your salary:  1500

Gross_salary:  3810.0

In [47]:
salary = int(input("Enter your salary: "))

if salary <= 500000:
    tds = 0
else:
    if salary <= 700000:
        tds = 0.05 * (salary - 500000)
    elif salary <= 1000000:
        tds = (200000 * 0.05) + (salary - 700000) * 0.10
    elif salary <= 1500000:
        tds = (200000 * 0.05) + (300000 * 0.10) + (salary - 1000000) * 0.15
    elif salary <= 2000000:
        tds = (200000 * 0.05) + (300000 * 0.10) + (500000 * 0.15) + (salary - 1500000) * 0.20
    else:
        tds = (200000 * 0.05) + (300000 * 0.10) + (500000 * 0.15) + (500000 * 0.20) + (salary - 2000000) * 0.30

print("TDS =", tds)

Enter your salary:  1200000

TDS = 70000.0